@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-left">
    <div class="alert alert-secondary" role="alert">
        This is a list of currently exposed API endpoints which can be requested using HTTP Get.
    </div>

    <h3>Get a single product by it's ID</h3>
    <ul>
        <li><a href="@ViewData["BaseUrl"]/api/products/get/1">@ViewData["BaseUrl"]<b>/api/products/get/1</b></a></li>
        <li><a href="@ViewData["BaseUrl"]/api/v1/products/get/1">@ViewData["BaseUrl"]<b>/api/v1/products/get/1</b></a></li>
        <li><a href="@ViewData["BaseUrl"]/api/v2/products/get/1">@ViewData["BaseUrl"]<b>/api/v2/products/get/1</b></a></li>
    </ul>

    <h3>Get a full list of all available products.</h3>
    <ul>
        <li><a href="@ViewData["BaseUrl"]/api/products/get">@ViewData["BaseUrl"]<b>/api/products/get</b></a></li>
        <li><a href="@ViewData["BaseUrl"]/api/v1/products/get">@ViewData["BaseUrl"]<b>/api/v1/products/get</b></a></li>
    </ul>

    <h3>Get a paged list of available products.</h3>
    <ul>
        <li><a href="@ViewData["BaseUrl"]/api/v2/products/get/1/10">@ViewData["BaseUrl"]<b>/api/v2/products/get/1/10</b></a></li>
    </ul>

    <p>&nbsp;</p>

    <div class="alert alert-secondary" role="alert">
        This is a list of currently exposed API endpoints which can be requested using HTTP Patch (by Swagger, Postman, etc.).
    </div>

    <h3>Update the product's description</h3>
    <ul>
        <li>/api/products/get/1 (HttpPatch)</li>
    </ul>

    <p>&nbsp;</p>

    <div class="alert alert-secondary" role="alert">
        Swagger API documentation
    </div>

    <h3>Swagger</h3>
    <ul>
        <li><a href="@ViewData["BaseUrl"]/swagger">Swagger UI</a></li>
    </ul>
</div>
